@media screen and (max-width:823px) {
    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
         
        margin: 12px 0;
    }
    nav ul{
        justify-content: center ;
    }
    .search{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-item img{
        width: 140px;
    }
}